/* 全局样式 */
@import './variables.scss';
@import './reset.scss';
.v-expansion-panel {
  background-color: black !important;
  color: white !important;
}
.page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.full {
  width: 100%;
  height: 100%;
  position: relative;
}
.hide {
  display: none;
}
.myprogress {
  position: absolute;
  top: 50%;
  margin-top: -50px;
  left: 50%;
  margin-left: -50px;
}

.v-slide-group__prev--disabled {
  display: none !important;
}